.sideBar {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  margin-top: 5px;
}
h2 {
  margin: 0;
}
.sideRow {
  background-color: rgba(238, 106, 106, 0.301);
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 5%;
}
